@model IEnumerable<GestionDeTurnos.Models.Workflow>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="@Url.Content("~/Content/jquery.multiselect.css")" rel="stylesheet" type="text/css" />*@
<link href="@Url.Content("~/Content/multiselect-master.css")" rel="stylesheet" type="text/css" />
<style type="text/css">
    #Sectores {
        height: 270px;
        width: 240px;
    }
</style>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Flujo de Trabajo</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form class="form-horizontal">
                        <div class="form-inline">
                            <label style="display: initial" class="control-label">Tipo de Tramite</label>
                            @Html.DropDownList("TypesLicenseID", null, "--Seleccione--", htmlAttributes: new { @class = "form-control ddlTypesLicense", @style = "height: 30px", @onchange = "updateSelect(this)" })

                        </div>
                    </form>
                </div>
                <div class="alert alert-success alert-dismissable" style="margin-bottom: 0px;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Seleccione el orden del flujo de trabajo</a>.
                </div>
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Aquellos que no se seleccionen no perteneceran al flujo de trabajo</a>.
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <select name="from[]" class="form-control" size="8" id="multiselect" multiple="multiple"></select>

                    </div>
                    <div class="col-xs-2">
                        <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                        <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                        <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                        <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                    </div>

                    <div class="col-xs-5">
                        <select name="to[]" id="multiselect_to" class="form-control" size="8" multiple="multiple"></select>

                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" id="multiselect_move_up" class="btn btn-block"><i class="glyphicon glyphicon-arrow-up"></i></button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" id="multiselect_move_down" class="btn btn-block col-sm-6"><i class="glyphicon glyphicon-arrow-down"></i></button>
                            </div>
                        </div>

                    </div>
                </div>

                @if (ViewBag.AltaModificacion)
                {
                    <button type="button" id="btnGuardar" class="btn btn-primary">
                        Guardar
                    </button>
                }
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
<!-- Progress Loader -->
<div id="div-loader" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8; display: none">
    <p style="position: absolute; color: White; top: 35%; left: 45%;">
        <img src=@Url.Content("~/Images/loading.gif") alt="Loading...">
    </p>
</div>


@section scripts {

    <script src="@Url.Content("~/Scripts/multiselect.min.js")"></script>
    @*https://crlcu.github.io/multiselect/*@
    <script>
        var arr = [];
        i = 0;

        jQuery(document).ready(function ($) {  


            //Logica Multiselect
            $('#multiselect').multiselect({
                //keepRenderingSort: true
                beforeMoveToRight: function ($left, $right, $options) {
                    var Id = $('#multiselect option:selected').val();
                    var Descripcion = $('#multiselect option:selected').first().text();
                    if (!(Id == '' || Id == null))
                        {
                        $('#multiselect_to').append(
                            '<option value="' + Id + '">' +
                            Descripcion + '</option>'
                        );
                    }
                },
                beforeMoveToLeft: function ($left, $right, $options) {
                    $('#multiselect_to option:selected').remove();
                }
            });

        });


        $("#btnGuardar").click(function () {
            var sel = $('[name="to[]"]');
            var selArray = [];
            //if (sel[0].length == 0)
            //    return;
            if ($(".ddlTypesLicense").val() == '' || $(".ddlTypesLicense").val()== null)
                return;


            for (var i = 0; i < sel[0].length; i++) {
                selArray[i] = sel[0][i].value;
            }



            setWorkflow(selArray);

        });



        function setWorkflow(values) {
            $("#div-loader").show();
            var object = new Object();
            object.TypesLicenseID = $(".ddlTypesLicense").val();
            object.Sectores = values;
            //object.Orden = orden;
            var data = JSON.stringify(object);


                 $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateWorflow")',
                    data: data,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (dataResponse) {
                        $('#nuevoModal').modal('hide');
                        $("#div-loader").hide();
                        if (dataResponse.responseCode == 0)
                            {
                            $("#div-loader").hide();
                            Lobibox.notify('success', {
                                title: 'Exito',
                                msg: 'Los cambios se han grabado correctamente.'
                            });
                        } else {
                                Lobibox.notify('error', {
                                    title: 'Error',
                                    msg: 'Ah ocurrido un error, intente nuevamente.'
                            });
                        }
                    },
                    error: function (response) {
                        $("#div-loader").hide();
                            Lobibox.notify('error', {
                                title: 'Error',
                                msg: 'Ah ocurrido un error, intente nuevamente.'
                            });
                    }
                });


        }

        function updateSelect(obj) {          


          if ($(obj).val() == '')
          {
              $('#multiselect').empty();
              $('#multiselect_to').empty();
                return;
            }

            src = $(obj);

            getLeftSelect();
            getRightSelect();





        }


        function getLeftSelect() {
                                    //Obtengo la grilla izquierda, que se carga una sola vez
          var jsUrl = '@Url.Action("GetSectoresAll", "Workflows")'; // ## is the token


            $.ajax({
                url: jsUrl,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8;',
                // success is called when dataset returns
                success: function (p) {
                    $('#multiselect').empty();
                    $.each(p, function (i, pr) {                       
                            $('#multiselect').append(
                                '<option value="' + pr.Id + '">' +
                                pr.Descripcion + '</option>'
                            );                       
                    })
                }
            });  
        }

        function getRightSelect() {
           var jsUrl = '@Url.Action("GetSectoresSelected", "Workflows")'; // ## is the token
            $.ajax({
                url: jsUrl,
                    type: 'POST',
                    data: JSON.stringify({
                        "IdTipo": src.val()
                    }),
                    contentType: 'application/json; charset=utf-8;',
                success: function (p) {
                    $('#multiselect_to').empty();
                    $.each(p, function (i, pr) {
                        $('#multiselect_to').append(
                            '<option value="' + pr.Id + '">' +
                            pr.Descripcion + '</option>'
                        );


                    })

                }
            });
        }

        $('#multiselect_leftAll').click(function () {
            if ($('#multiselect').has('option').length > 0)
                $('#multiselect_to').empty();
            else {
                $('#multiselect_to > option').each(function (i, obj) {
                    //Solo agrego los que no estan
                    if ($("#multiselect option[value=" + this.value + "]").length == 0)
                        $('#multiselect').append(this);
                });
            }

        });

        $('#multiselect_rightAll').click(function () {
            $('#multiselect > option').each(function (i, obj) {
                //Solo agrego los que no estan
                if ($("#multiselect_to option[value=" + this.value +"]").length==0)
                    $('#multiselect_to').append(this);
            });
        });



    </script>
}