@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Transito - Municipalidad de Florencio Varela</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="login-panel panel panel-green">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bienvenido</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset class="text-center">
                                <div class="form-group">
                                    <img src=@Url.Content("~/Images/Logo.png")>
                                </div>
                                <div id="divPrimerPaso">
                                    <div class="form-group">
                                        @*<input type="button" value="Con Turno" class="btn btn-success btn-lg" style="width: 200px !important" onclick="location.href='@Url.Action("ConTurno", "Home")'" />*@
                                        <input type="button" value="Ingresar" class="btn btn-success btn-lg" style="width: 200px !important" onclick="location.href='@Url.Action("ConTurno", "Home")'" />
                                        @*<div id="printableArea">
                                            <h1>Print me</h1>
                                        </div>
                                        <input type="button" onclick="printDiv('printableArea')" value="print a div!" />*@

                                    </div>
                                    @*<div class="form-group">
                                            <input type="button" value="Tramite Iniciado" class="btn btn-success btn-lg" style="width: 200px !important" onclick="location.href='@Url.Action("TramiteIniciado", "Home")'" />
                                        </div>*@
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js")

    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>*@


</body>
</html>
