@model GestionDeTurnos.Models.Tracking

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string strId = "";
    string strTurnoId = "";
    string strTurno="";
    string strEstado = "";
    string strTipoLicencia = "";
    string strNombre = "";
    string strApellido = "";
    string strDNI = "";
    string strFechaNacimiento = "";
    int intEstadoOrden = 1;
    bool booDisable = !ViewBag.HabilitaLlamarNuevamente;
    bool booMedico = false;



    if (Model != null)
    {
        strId = Model.Id.ToString();
        strTurno = Model.Turn.Turno;
        strTurnoId = Model.Turn.Id.ToString();
        strEstado = Model.Status.Descripcion;
        intEstadoOrden = Model.Status.Orden;
        strNombre = Model.Turn.Person.Nombre;
        strApellido = Model.Turn.Person.Apellido;
        booMedico = Model.Sector.Medico;


        if (Model.Status.Orden>2)
        {
            strTipoLicencia = Model.Turn.TypesLicense.Descripcion;
            strDNI = Model.Turn.Person.Dni;
            strFechaNacimiento = Model.Turn.Person.FechaNacimiento.ToString();


        }
    }

 }

<style type="text/css">
    .middle {
        padding-top: 30px;
        background-color: #d6ea5c;
        padding-bottom: 100px;
        text-align: -webkit-center;
        border-color: bisque;
        border-width: thin;
        border-style: groove;
    }

        .middle label {
            font-size: 30px;
        }

    .btn-primary.raised {
        box-shadow: 0 3px 0 0 #007299;
        width: 203px;
    }

    .btn-danger.raised {
        box-shadow: 0 3px 0 0 #d43f3a;
        width: 203px;
    }

    .btn-success.raised {
        box-shadow: 0 3px 0 0 #4cae4c;
        width: 203px;
    }

    .btn-primary.raised:active, .btn-primary.raised.active {
        background: #33a6cc;
        box-shadow: none;
        margin-bottom: -3px;
        margin-top: 3px;
    }

    .btn-danger.raised:active, .btn-danger.raised.active {
        background: #33a6cc;
        box-shadow: none;
        margin-bottom: -3px;
        margin-top: 3px;
    }

    .btn-success.raised:active, .btn-success.raised.active {
        background: #33a6cc;
        box-shadow: none;
        margin-bottom: -3px;
        margin-top: 3px;
    }
</style>

<h2>Index</h2>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Atención al cliente</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body" style="padding: 0px;">
                    <div class="col-lg-2">
                        <div class="middle">
                            <label>@ViewBag.Terminal</label>
                        </div>
                    </div>
                    <div class="col-lg-10" style="padding: 0px;">
                        <h4 class="page-header" style="margin: 10px 0 20px;">Atendimiento</h4>
                        <div class="panel-body" style="padding: 0px; background-color: #f5f5f5;">
                            <form>
                                @* Tracking Id *@
                                <input id="TurnId" type="hidden" value=@strId />
                                @* Turno Id *@
                                <input id="TurnoId" type="hidden" value=@strTurnoId />
                                <div class="form-group row" style="margin-bottom: 3px;">
                                    <label for="Turno" class="col-sm-2 col-form-label">Turno</label>
                                    <label id="Turno" class="col-sm-10" style="font-weight: 500">@strTurno </label>

                                </div>
                                <div class="form-group row" style="margin-bottom: 3px;">
                                    <label for="Estado" class="col-sm-2 col-form-label">Estado</label>

                                    <label id="Estado" class="col-sm-10" style="font-weight: 500; color:green">@strEstado </label>

                                </div>
                                <div class="form-group row" style="margin-bottom: 3px;">
                                    <label for="TipoTurno" class="col-sm-2 col-form-label">Tipo de Turno</label>
                                    <label id="TipoTurno" class="col-sm-10" style="font-weight: 500">@strTipoLicencia</label>
                                </div>
                                <div class="form-group row" style="margin-bottom: 3px;">
                                    <label for="Nombre" class="col-sm-2 col-form-label">Nombre</label>
                                    <label id="Nombre" class="col-sm-10" style="font-weight: 500">@strNombre</label>
                                </div>
                                <div class="form-group row" style="margin-bottom: 3px;">
                                    <label for="Apellido" class="col-sm-2 col-form-label">Apellido</label>
                                    <label id="Apellido" class="col-sm-10" style="font-weight: 500">@strApellido</label>
                                </div>
                                <div class="form-group row" style="margin-bottom: 3px;">
                                    <label for="DNI" class="col-sm-2 col-form-label">DNI</label>
                                    <label id="DNI" class="col-sm-10" style="font-weight: 500">@strDNI</label>
                                </div>
                                <div class="form-group row" style="margin-bottom: 3px;">
                                    <label for="Edad" class="col-sm-2 col-form-label">Fecha De Nac </label>
                                    <label id="Edad" class="col-sm-10" style="font-weight: 500">@strFechaNacimiento</label>
                                </div>
                                @Html.Hidden("MedicoHidden", booMedico)
                                @if (intEstadoOrden > 2 && booMedico)
                                {
                                    <button type="button" id="btnMedico" class="btn btn-primary">
                                        Historial Medico
                                    </button>
                                }
                                else
                                {
                                    <button type="button" id="btnMedico" class="btn btn-primary" style="display:none">
                                        Historial Medico
                                    </button>
                                }


                            </form>
                        </div>

                    </div>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->


            <div class="col-lg-4">
                @if (intEstadoOrden > 1)
                {
                    <button type="button" id="btnLlamar" class="btn btn-success btn-lg raised" style="display:none"> Llamar </button>
                    <button type="button" id="btnLlamarNuevamente" class="btn btn-success btn-lg raised" disabled=@booDisable >Llamar Nuevamente</button>
                }
                else
                {
                    <button type="button" id="btnLlamar" class="btn btn-success btn-lg raised" >Llamar </button>
                    <button type="button" id="btnLlamarNuevamente" class="btn btn-success btn-lg raised"  style="display:none">Llamar Nuevamente</button>
                }

            </div>

            <div class="col-lg-4">
                @if (intEstadoOrden == 1)
                {
                    <button type="button" id="btnFinalizar" class="btn btn-primary btn-lg raised" style="display:none">Finalizar Atención</button>
                    <button type="button" id="btnIniciar" class="btn btn-primary btn-lg raised" style="display:none">Iniciar Atención</button>
                }

                else
                {
                    if (intEstadoOrden > 2)
                    {
                        <button type="button" id="btnFinalizar" class="btn btn-primary btn-lg raised">Finalizar Atención</button>
                        <button type="button" id="btnIniciar" class="btn btn-primary btn-lg raised" style="display:none">Iniciar Atención</button>
                    }
                    else
                    {
                        <button type="button" id="btnFinalizar" class="btn btn-primary btn-lg raised" style="display:none">Finalizar Atención</button>
                        <button type="button" id="btnIniciar" class="btn btn-primary btn-lg raised">Iniciar Atención</button>
                    }
                }
            </div>


            <div class="col-lg-4">
                @if (intEstadoOrden == 1)
                {
                    <button type="button" id="btnIncompleto" class="btn btn-danger btn-lg raised" style="display:none">Incompleto</button>
                    <button type="button" id="btnNoEsta" class="btn btn-danger btn-lg raised" style="display:none">No se presento</button>
                }
                else
                {
                    if (intEstadoOrden > 2)
                    {
                        <button type="button" id="btnIncompleto" class="btn btn-danger btn-lg raised">Incompleto</button>
                        <button type="button" id="btnNoEsta" class="btn btn-danger btn-lg raised" style="display:none">No se presento</button>
                    }
                    else
                    {
                        <button type="button" id="btnIncompleto" class="btn btn-danger btn-lg raised" style="display:none">Incompleto</button>
                        <button type="button" id="btnNoEsta" class="btn btn-danger btn-lg raised">No se presento</button>

                    }
                }

            </div>


            @*<div class="col-lg-4">
            <button type="button" class="btn btn-success btn-lg raised">Llamar Nuevamente</button>
        </div>
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary btn-lg raised">Finalizar Atención</button>
        </div>
        <div class="col-lg-4">
            <button type="button" class="btn btn-danger btn-lg raised">Incompleto</button>
        </div>*@

            <div class="col-lg-10">
                <h4 class="page-header">Turno siguientes</h4>
                <div class="panel-body" style="padding: 0px;">
                    <div class="form-inline">
                        <div id="divTurnos"></div>
                        @*@foreach (var item in Model)
                    {
                        <button type="button" class="btn btn-outline btn-primary btn-sm">@item.Turn.Turno</button>
                    }*@
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

</div>
<!-- /#page-wrapper -->
<!-- /#wrapper -->
<!-- Progress Loader -->
<div id="div-loader" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8; display: none">
    <p style="position: absolute; color: White; top: 35%; left: 45%;">
        <img src="~/Images/loading.gif" alt="Loading..." />
    </p>
</div>


@section scripts {


    <script type="text/javascript">

        refreshTurns();

        function refreshTurns() {
             $.ajax({
                    url: '@Url.Action("GetTurnosPendientes")',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8;',
                 success: function (result) {
                     $('#divTurnos').find('.btn-Turns').remove();
                        $.each(result, function (k, v) {
                            var $input = $("<button type='button'class='btn btn-primary btn-sm btn-Turns' style='border-radius: 15px'>" + v.Turn.Turno+"</button>");
                            $input.appendTo($("#divTurnos"));
                     });
                     window.setTimeout(refreshTurns, 1000);

                    }
                });
        }

        $(function () {
            $('.dropdown-menu a').click(function () {
                console.log($(this).attr('data-value'));
                $(this).closest('.dropdown').find('input.countrycode')
                    .val('(' + $(this).attr('data-value') + ')');
            });
        });

        function bs_input_file() {
            $(".input-file").before(
                function () {
                    if (!$(this).prev().hasClass('input-ghost')) {
                        var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name", $(this).attr("name"));
                        element.change(function () {
                            element.next(element).find('input').val((element.val()).split('\\').pop());
                        });
                        $(this).find("button.btn-choose").click(function () {
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function () {
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor", "pointer");
                        $(this).find('input').mousedown(function () {
                            $(this).parents('.input-file').prev().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }
        $(function () {
            bs_input_file();
        });


        $(function () {
            // initialize sol
            $('#my-select').searchableOptionList();
            $('#my-select2').searchableOptionList();
        });




        ///***********************BOTONES

            //************************LLAMAR


        $('#btnLlamar').click(function () {
            $("#div-loader").show();

            $.ajax({
                url: '@Url.Action("Llamar", "Trackings")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8;',
                success: function (result) {
                    $("#div-loader").hide();
                    if (result.responseCode == 0) {
                        Lobibox.notify('success', {
                            title: 'Exito',
                            msg: 'Se ha llamado con exito'
                        });

                        //Asigno Parcialmente
                        $("#TurnId").val(result.tracking.Id);
                        $('#TurnoId').val(result.tracking.Turn.Id);
                        $('#Turno').text(result.tracking.Turn.Turno);
                        $('#Estado').text(result.tracking.Status.Descripcion);
                        $('#Nombre').text(result.tracking.Turn.Person.Nombre);
                        $('#Apellido').text(result.tracking.Turn.Person.Apellido);
                        $('#MedicoHidden').val(result.tracking.Sector.Medico);
                        $('#btnLlamar').hide();
                        $('#btnLlamarNuevamente').show();
                        $('#btnIniciar').show();
                        $('#btnNoEsta').show();



                    }
                    if (result.responseCode == 2) {
                        Lobibox.notify('warning', {
                            title: 'Exito',
                            msg: 'No quedan turnos pendiente'
                        });
                    }


                },
                error: function (response) {
                    $("#div-loader").hide();
                    Lobibox.notify('error', {
                        title: 'Error',
                        msg: 'Ah ocurrido un error, intente nuevamente.'
                    });
                }
            });
        });


            //************************LLAMAR NUEVAMENTE


        $('#btnLlamarNuevamente').click(function () {
            $("#div-loader").show();
            var id=$("#TurnId").val();
            $.ajax({
                url: '@Url.Action("LlamarNuevamente", "Trackings")',
                data: JSON.stringify({
                    "id": id
                }),
                type: 'POST',
                contentType: 'application/json; charset=utf-8;',
                success: function (result) {
                    $("#div-loader").hide();
                    if (result.responseCode == 0) {
                        Lobibox.notify('success', {
                            title: 'Exito',
                            msg: 'Se ha llamado con exito'
                        });

                        if (!result.PuedeSeguirLlamando)
                            $('#btnLlamarNuevamente').attr("disabled","disabled");


                    }
                    if (result.responseCode == 2) {
                        Lobibox.notify('warning', {
                            title: 'Exito',
                            msg: 'No quedan turnos pendiente'
                        });
                    }


                },
                error: function (response) {
                    $("#div-loader").hide();
                    Lobibox.notify('error', {
                        title: 'Error',
                        msg: 'Ah ocurrido un error, intente nuevamente.'
                    });
                }
            });
        });

            //************************INICIAR ATENCION


        $('#btnIniciar').click(function () {
            $("#div-loader").show();
            var id=$("#TurnId").val();
            $.ajax({
                url: '@Url.Action("IniciarAtencion", "Trackings")',
                data: JSON.stringify({
                    "id": id
                }),
                type: 'POST',
                contentType: 'application/json; charset=utf-8;',
                success: function (result) {
                    $("#div-loader").hide();
                    if (result.responseCode == 0) {
                        Lobibox.notify('success', {
                            title: 'Exito',
                            msg: 'Se ha Iniciado con exito'
                        });


                        $('#Estado').text(result.tracking.Status.Descripcion);
                        $('#TipoTurno').text(result.tracking.Turn.TypesLicense.Descripcion);
                        $('#DNI').text(result.tracking.Turn.Person.Dni);

                        if (result.tracking.Turn.Person.FechaNacimiento != null) {
                            var dateString = result.tracking.Turn.Person.FechaNacimiento.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var month = currentTime.getMonth() + 1;
                            var day = currentTime.getDate();
                            var year = currentTime.getFullYear();
                            var date = day + "/" + month + "/" + year;
                            $('#Edad').text(date);
                        }

                        $('#btnIniciar').hide();
                        $('#btnFinalizar').show();
                        $('#btnNoEsta').hide();
                        $('#btnIncompleto').show();
                        

                        if ($('#MedicoHidden').val() == 'True' || $('#MedicoHidden').val() == 'true')
                            $('#btnMedico').show();
                        


                    }


                },
                error: function (response) {
                    $("#div-loader").hide();
                    Lobibox.notify('error', {
                        title: 'Error',
                        msg: 'Ah ocurrido un error, intente nuevamente.'
                    });
                }
            });
        });


            //************************FINALIZAR ATENCION


        $('#btnFinalizar').click(function () {
            $("#div-loader").show();
            var id=$("#TurnId").val();
            $.ajax({
                url: '@Url.Action("FinalizarAtencion", "Trackings")',
                data: JSON.stringify({
                    "id": id
                }),
                type: 'POST',
                contentType: 'application/json; charset=utf-8;',
                success: function (result) {
                    $("#div-loader").hide();
                    if (result.responseCode == 0) {
                        Lobibox.notify('success', {
                            title: 'Exito',
                            msg: 'Se ha finalizado con exito'
                        });


                        IniciarBotones();


                    }


                },
                error: function (response) {
                    $("#div-loader").hide();
                    Lobibox.notify('error', {
                        title: 'Error',
                        msg: 'Ah ocurrido un error, intente nuevamente.'
                    });
                }
            });
        });

            //************************NO Esta


        $('#btnNoEsta').click(function () {
            $("#div-loader").show();
            var id=$("#TurnId").val();
            $.ajax({
                url: '@Url.Action("NoSePresento", "Trackings")',
                data: JSON.stringify({
                    "id": id
                }),
                type: 'POST',
                contentType: 'application/json; charset=utf-8;',
                success: function (result) {
                    $("#div-loader").hide();
                    if (result.responseCode == 0) {
                        Lobibox.notify('success', {
                            title: 'Exito',
                            msg: 'Se ha finalizado con exito'
                        });


                        IniciarBotones();


                    }


                },
                error: function (response) {
                    $("#div-loader").hide();
                    Lobibox.notify('error', {
                        title: 'Error',
                        msg: 'Ah ocurrido un error, intente nuevamente.'
                    });
                }
            });
        });


            //************************INCOMPLETO


        $('#btnIncompleto').click(function () {
            $("#div-loader").show();
            var id=$("#TurnId").val();
            $.ajax({
                url: '@Url.Action("Incompleto", "Trackings")',
                data: JSON.stringify({
                    "id": id
                }),
                type: 'POST',
                contentType: 'application/json; charset=utf-8;',
                success: function (result) {
                    $("#div-loader").hide();
                    if (result.responseCode == 0) {
                        Lobibox.notify('success', {
                            title: 'Exito',
                            msg: 'Se ha finalizado con exito'
                        });


                        IniciarBotones();


                    }


                },
                error: function (response) {
                    $("#div-loader").hide();
                    Lobibox.notify('error', {
                        title: 'Error',
                        msg: 'Ah ocurrido un error, intente nuevamente.'
                    });
                }
            });
        });


       $(document).on('click', '#btnMedico', function () {
           var id = $('#TurnoId').val();
            var baseUrl = "@Url.Action("PersonByTurn", "MedicalPersons", new { id="ID"})";
            window.location.href = baseUrl.replace("ID",id);
        });

        function IniciarBotones() {
            $('#btnIniciar').show();
            $('#btnFinalizar').hide();
            $('#btnLlamarNuevamente').hide();
            $('#btnLlamarNuevamente').attr("disabled", false);
            $('#btnLlamar').show();
            $('#btnIncompleto').hide();
            $('#btnNoEsta').hide();
            $('#btnIniciar').hide();
            $('#btnMedico').hide();


            $('#TurnId').val();
            $('#TurnoId').val();
            $('#Turno').text("");
            $('#Estado').text("");
            $('#TipoTurno').text("");
            $('#Nombre').text("");
            $('#Apellido').text("");
            $('#DNI').text("");
            $('#Edad').text("");
        }



    </script>

}