@model IEnumerable<GestionDeTurnos.Models.Tracking>

@{
    Layout = "~/Views/Shared/_LayoutTurnero.cshtml";
}



<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Transito - Municipalidad de Florencio Varela</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .color {
            background-color: white;
        }

        .tamañoImagen {
            width: 100%;
        }

        .sinMargen {
            margin-right: -1px;
            margin-left: -1px;
        }

        .row-first {
            height: 80%;
            overflow: hidden;
        }

        #divRowTurnoActualHead {
            height: 100px;
            /*line-height: 100px;*/
        }

        #divColumnaTurnoActualHeadClima {
            margin-top: 35px;
        }

        #divColumnaTurnoActualHeadFechaHora {
            margin-top: 25px;
            padding: 0;
        }

        .reloj {
            color: #3E3E3F;
            text-align-last: center;
            font-weight: 800;
            font-size: 45px;
        }

        .fecha {
            color: #3E3E3F;
            font-size: 13px;
            text-align-last: center;
            margin-top: 13px;
            font-weight: 600;
        }



        #divRowTurnoActualBody {
            height: 350px;
        }

        #divRowTurnoFooter {
            height: 100px;
        }

        #divColumnaTurnosPasados {
            padding-top: 10px;
        }

        #divColumnaTurnosPasadosHead {
            text-align: center;
            vertical-align: middle;
        }

        #divRowTurnosPasadosHead {
            height: 70px;
            background-color: #18A096;
            line-height: 70px;
        }

        #divRowTurnosPasadosSubHead {
            height: 45px;
        }

        #divRowTurnosPasadosBody {
            height: 450px;
        }

        #divRowTurnosPasadosBodyTurno {
            background-color: #3E3E3F;
            height: 70px;
            margin-top: 10px;
            line-height: 70px;
        }

        .TituloUltimosTurnos {
            font-size: 45px;
            color: white;
        }

        .TituloTurnosActuales {
            font-size: 45px;
            color: white;
        }

        /*.blink_me {
            animation: blinker 1s linear infinite;
            animation-iteration-count: 10;
        }*/



        .SubTituloUltimosTurnos {
            font-size: 30px;
            color: #18A096;
            font-style: unset;
            font-weight: 900 !important;
        }

        .spanUltimosTurnosTurno {
            font-size: 40px;
            color: white;
        }

        .spanUltimosTurnosSector {
            font-size: 30px;
            color: white;
            font-weight: 600 !important;
        }

        .spanUltimosTurnosBox {
            font-size: 30px;
            color: white;
            font-weight: 600 !important;
        }

        .colorTitulo {
            background-color: #18A096;
        }

        .borde-columnas {
            border: 5px solid white;
            text-align: center;
        }

        .turnos {
            background-color: #3E3E3F;
            font-size: 70px;
            color: white;
            line-height: 170px;
            font-weight: 600;
        }

        .altoColumnasTurnoActual {
            height: 200px;
        }

        #divColumnaTurnoActualFooter {
            font-size: 50px;
            color: #3E3E3F;
            line-height: 70px;
            font-weight: 600;
            text-align: center;
        }

        div.hidden {
            border: 1px solid black;
        }

        div.wrapper:hover div {
            display: none;
            background-color: red;
        }

        .oculto {
            display: none;
        }

        .navbar-top-links li a:hover {
            background-color: white !important;
        }

        .navbar-top-links li a:focus {
            background-color: white !important;
        }
        .navbar-top-links .dropdown-user {
            right: auto;
            left: auto;
        }

    </style>


</head>


<body>
    @* COLUMNA IZQUIERDA  *@
    <div class="container-fluid sinMargen color">
        <div class="row sinMargen" id="divRowTurnoActual">
            <div class="col-lg-6" id="divColumnaTurnoActual">                
                @* HEAD  *@
                <div class="row sinMargen" id="divRowTurnoActualHead">
                    <div class="col-lg-12" id="divColumnaTurnoActualHead">
                        <div class="col-lg-4" id="divColumnaTurnoActualHeadLogo">
                            <img class="tamañoImagen" src="~/Images/600736_309661239119777_416736846_n.jpg" runat="server" />
                        </div>
                        <div class="col-lg-4" id="divColumnaTurnoActualHeadFechaHora">
                            <div class="widget">
                                <div class="reloj">
                                    <span id="horas" class="horas"></span>
                                    :
                                    <span id="minutos" class="minutos"></span>
                                </div>
                                <div class="fecha">
                                    <span id="diaSemana" class="diaSemana"></span>
                                    <span id="dia" class="dia"></span>
                                    <span>de</span>
                                    <span id="mes" class="mes"></span>
                                    <span>de</span>
                                    <span id="anio" class="anio"></span>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4" id="divColumnaTurnoActualHeadClima">
                            <div class="forecast">
                                <script type='text/javascript' src='https://darksky.net/widget/default-small/-34.8272,-58.3956/ca12/en.js?width=100%&height=70&title=Full Forecast&textColor=333333&bgColor=transparent&transparency=true&skyColor=undefined&fontFamily=Verdana&customFont=&units=ca'></script>

                            </div>
                        </div>

                    </div>
                </div>
                @* BODY  *@
                <div class="row sinMargen" id="divRowTurnoActualBody">
                    <div class="row sinMargen" id="divRowTurnoActualBodyTitulo">
                        <div class="col-lg-6 colorTitulo borde-columnas" id="divColumnaTurnoActualBodyTituloTurno">
                            <span class="TituloTurnosActuales"><b>TURNO</b></span>
                        </div>
                        <div class="col-lg-6 colorTitulo borde-columnas" id="divColumnaTurnoActualBodyTituloBox">
                            <span class="TituloTurnosActuales"><b>BOX</b></span>
                        </div>
                    </div>

                    <div class="row sinMargen turnos" id="divRowTurnoActualBodyTurno">
                        <div class="col-lg-6 borde-columnas altoColumnasTurnoActual " id="divColumnaTurnoActualBodyTurnoTurno">
                            <span id="spanTurno"></span>
                            @*class="blink_me"*@
                            <div id="divTurnoId"></div>
                        </div>
                        <div class="col-lg-6 borde-columnas altoColumnasTurnoActual " id="divColumnaTurnoActualBodyTurnoBox">
                            <span id="spanBox"></span>
                             @*class=" blink_me"*@
                        </div>
                    </div>

                </div>




                @* FOOTER  *@
                <div class="row sinMargen" id="divRowTurnoFooter">
                    <div class="col-lg-12" id="divColumnaTurnoActualFooter" >
                        <span id="spanSector"></span>
                    </div>
                </div>

            </div>

            @* COLUMNA DERECHA  *@

            <div class="col-lg-6" id="divColumnaTurnosPasados">
                @* HEAD  *@
                <div class="row sinMargen" id="divRowTurnosPasadosHead">
                    <div class="col-lg-12" id="divColumnaTurnosPasadosHead">
                        <span class="TituloUltimosTurnos"><b>ÚLTIMOS TURNOS</b></span>
                    </div>
                </div>

                @* SUB HEAD  *@
                @*<div class="row sinMargen" id="divRowTurnosPasadosSubHead">
                    <div class="col-lg-6" id="divColumnaTurnosPasadosSubHeadTurno">
                        <span class="SubTituloUltimosTurnos">TURNO</span>
                    </div>
                    <div class="col-lg-4" id="divColumnaTurnosPasadosSubHeadSector">
                        <span class="SubTituloUltimosTurnos">SECTOR</span>
                    </div>
                    <div class="col-lg-6" id="divColumnaTurnosPasadosSubHeadBox">
                        <span class="SubTituloUltimosTurnos">BOX</span>
                    </div>
                </div>*@

                @* BODY  *@
                <div class="row sinMargen " id="divRowTurnosPasadosBody">
                    @foreach (var item in Model)
                    {

                        <div class="row sinMargen detalle" id="divRowTurnosPasadosBodyTurno">
                            <div class="col-lg-6" id="divColumnaTurnosPasadosBodyTurno">
                                <span class="spanUltimosTurnosTurno">@item.Turn.Turno</span>
                                <div class="oculto Id">@item.Id</div>
                                <div class="oculto Cantidad">@item.CantidadDeLlamados</div>
                            </div>
                            @*<div class="col-lg-4" id="divColumnaTurnosPasadosBodySector">
                                <span class="spanUltimosTurnosSector" style="color:@item.Sector.Color">@item.Sector.Descripcion</span>
                            </div>*@
                            <div class="col-lg-6" id="divColumnaTurnosPasadosBodyBox">
                                <span class="spanUltimosTurnosBox">@item.Terminal.Descripcion</span>
                            </div>
                        </div>
                    
                    }
                </div>
            </div>

        </div>
    </div>
</body>

<button id="btnSound" onclick='$.playSound("/Scripts/attachments/sounds/sound.mp3")' style="margin: -100px;">Sound</button>


@section scripts {

    @Scripts.Render("~/bundles/sound")

    <script type="text/javascript">        

        refreshTurns();

        function refreshTurns() {
            var $input;            
            $('.blink_me').unblink();
             $.ajax({
                    url: '@Url.Action("GetTurnosTurnero")',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8;',
                 success: function (result) {
                     //Antes de borrarlos los dejo en un div oculto
                     //Aca borro el auxiliar
                     //$('#divTurnosOculto').find('#divTurnos').remove();
                     //$('#divTurnos').clone().prependTo('#divTurnosOculto');
                     $('#divRowTurnosPasadosBody').find('.detalle').remove();
                     //$('#spanTurno').text('');
                     //$('#spanBox').text('');
                     //$('#spanSector').text('');
                     //var paso = 0;

                     if (result.length === 0) {
                         $('#spanTurno').text(null);
                         $('#spanBox').text(null);
                         $('#spanSector').text(null);
                         $('#divTurnoId').val(null);
                         $('#divColumnaTurnoActualFooter').css("background-color", "white");
                     }

                     $.each(result, function (k, v) {
                         //v.Status.Orden === 2 && paso===0
                         if (k==0) {  
                             //paso = 1;
                             $('#spanTurno').text(v.Turn.Turno);
                             $('#spanBox').text(v.Terminal.Descripcion);
                             $('#spanSector').text(v.Sector.Descripcion);
                             $('#divTurnoId').val(v.Id);
                             if (v.Sector.Color!='')
                                 $('#divColumnaTurnoActualFooter').css("background-color", v.Sector.Color);
                             else
                                 $('#divColumnaTurnoActualFooter').css("background-color", "white");
                         }
                         else {
                             if (v.Id != $('#divTurnoId').val()) {
                                 if (v.Status.Orden === 5 || v.Status.Orden === 2 ) {
//                                     $input = $("<div class='row sinMargen detalle' id='divRowTurnosPasadosBodyTurno'><div class='col-lg-4' id='divColumnaTurnosPasadosBodyTurno'><span class='spanUltimosTurnosTurno'>" + v.Turn.Turno + "</span><div class='oculto Id'>" + v.Id + "</div><div class='oculto Cantidad'>" + v.CantidadDeLlamados + "</div></div><div class='col-lg-4' id='divColumnaTurnosPasadosBodySector'><span class='spanUltimosTurnosSector' style='color: " + v.Sector.Color + "'>" + v.Sector.Descripcion + "</span></div><div class='col-lg-4' id='divColumnaTurnosPasadosBodyBox'><span class='spanUltimosTurnosBox'>" + v.Terminal.Descripcion + "</span></div></div>");
                                     $input = $("<div class='row sinMargen detalle' id='divRowTurnosPasadosBodyTurno'><div class='col-lg-6' id='divColumnaTurnosPasadosBodyTurno'><span class='spanUltimosTurnosTurno'>" + v.Turn.Turno + "</span><div class='oculto Id'>" + v.Id + "</div><div class='oculto Cantidad'>" + v.CantidadDeLlamados + "</div></div><div class='col-lg-6' id='divColumnaTurnosPasadosBodyBox'><span class='spanUltimosTurnosBox'>" + v.Terminal.Descripcion + "</span></div></div>");
                                     $input.appendTo($("#divRowTurnosPasadosBody"));
                                 }

                             }

                            
                         }
                         

                         if (v.Alerta)
                             updateAlerta(v.Id, $('#divRowTurnoActualBody'));

                     });


                       window.setTimeout(refreshTurns, 5000);
                    

                    }
                });
        }


        function updateAlerta(id, $input) {
            $.ajax({
                url: '@Url.Action("UpdateAlerta", "Trackings")',
                data: JSON.stringify({
                    "id": id
                }),
                type: 'POST',
                contentType: 'application/json; charset=utf-8;',
                success: function (result) {
                    if (result.responseCode == 0) {
                        suenaAlerta($input);
                    }
                }
            });
        }


        function suenaAlerta($input) {
            $('#btnSound').click();
            $('.blink_me').blink(10);

        }


    </script>

<script>


    $(function () {
        var actualizarHora = function () {
            var fecha = new Date(),
                hora = fecha.getHours(),
                minutos = fecha.getMinutes(),
                segundos = fecha.getSeconds(),
                diaSemana = fecha.getDay(),
                dia = fecha.getDate(),
                mes = fecha.getMonth(),
                anio = fecha.getFullYear(),
                ampm;

            var $pHoras = $("#horas"),
                $pSegundos = $("#segundos"),
                $pMinutos = $("#minutos"),
                $pAMPM = $("#ampm"),
                $pDiaSemana = $("#diaSemana"),
                $pDia = $("#dia"),
                $pMes = $("#mes"),
                $pAnio = $("#anio");
            var semana = ['Domingo,', 'Lunes,', 'Martes,', 'Miércoles,', 'Jueves,', 'Viernes,', 'Sábado,'];
            var meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];

            $pDiaSemana.text(semana[diaSemana]);
            $pDia.text(dia);
            $pMes.text(meses[mes]);
            $pAnio.text(anio);

            if (hora < 10) { $pHoras.text("0" + hora) } else { $pHoras.text(hora) };
            if (minutos < 10) { $pMinutos.text("0" + minutos) } else { $pMinutos.text(minutos) };
            if (segundos < 10) { $pSegundos.text("0" + segundos) } else { $pSegundos.text(segundos) };
            $pAMPM.text(ampm);

        };


        //actualizarHora();
        var intervalo = setInterval(actualizarHora, 1000000000000);
    });

</script>

}