@model IEnumerable<GestionDeTurnos.Models.Permission>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Permisos</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form class="form-horizontal">
                        <div class="form-inline">
                            <label style="display: initial" class="control-label">Roles</label>
                            @Html.DropDownList("selectRolCreate", new SelectList(ViewBag.listaRoles, "RolId", "Nombre"), htmlAttributes:
                            new
                            {
                                id = "selectRolCreate",
                                @class = "form-control",
                                @onchange = "refreshdropdown()"
                            }
                            )

                        </div>
                    </form>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Modulo</th>
                                <th>Pantalla</th>
                                <th><input type="checkbox" name="ckConsultaAll" id="ckConsultaAll" value="checked" /> Consulta</th>
                                <th><input type="checkbox" name="ckAltaModificacionAll" id="ckAltaModificacionAll" value="checked" /> Alta/Modif</th>
                                <th><input type="checkbox" name="ckBajaAll" id="ckBajaAll" value="checked" /> Baja</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model)
                                {
                                    <tr class="odd gradeX">
                                        <td>@item.Id</td>
                                        <td>@item.Window.Module.Descripcion</td>
                                        <td>@item.Window.Descripcion</td>
                                        <td class="center"><input name="consulta" value="1" type="checkbox"></td>
                                        <td class="center"><input name="altamodif" value="1" type="checkbox"></td>
                                        <td class="center"><input name="baja" value="1" type="checkbox"></td>
                                    </tr>
                                }*@
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
    </div>
<!-- /#wrapper -->

@section scripts {
    <script>


        function refreshdropdown() {
            //var RolId = $('#selectRolCreate').val();
            //$("#dataTables-example").dataTable().fnReloadAjax();
            if ($('#selectRolCreate').val() != '') {
                var newurl = "@Url.Action("GetPermisos", "Permissions", new { Rolid = "ParamRolId" })".replace("ParamRolId", $('#selectRolCreate').val());
                $("#dataTables-example").dataTable().fnReloadAjax(newurl);
            }


            };



        $(document).ready(function () {
            var AltaModificacion = '@ViewBag.AltaModificacion';

            if (AltaModificacion == 'False') {
                $('#ckConsultaAll').prop("disabled", true);
                $('#ckAltaModificacionAll').prop("disabled", true);
                $('#ckBajaAll').prop("disabled", true);
                //$('#dataTables-example .ConsultaCheckbox').prop("disabled", true);
                //$('#dataTables-example .AltaModificacionCheckbox').prop("disabled", true);
                //$('#dataTables-example .BajaCheckbox').prop("disabled", true);
            }



            $('#ckConsultaAll').change(function () {
                var RolId = $('#selectRolCreate').val();
                var Permiso_check = this.checked;

                if (this.checked) {
                    $('#dataTables-example .ConsultaCheckbox').prop('checked', true);
                }
                else {
                    $('#dataTables-example .ConsultaCheckbox').prop('checked', false);
                }
                UpdatePermisos(RolId, 'Consulta', Permiso_check);
            });

            $('#ckAltaModificacionAll').change(function () {
                var RolId = $('#selectRolCreate').val();
                var Permiso_check = this.checked;

                if (this.checked) {
                    $('#dataTables-example .AltaModificacionCheckbox').prop('checked', true);
                }
                else {
                    $('#dataTables-example .AltaModificacionCheckbox').prop('checked', false);
                }
                UpdatePermisos(RolId, 'AltaModificacion', Permiso_check);
            });


            $('#ckBajaAll').change(function () {
                var RolId = $('#selectRolCreate').val();
                var Permiso_check = this.checked;

                if (this.checked) {
                    $('#dataTables-example .BajaCheckbox').prop('checked', true);
                }
                else {
                    $('#dataTables-example .BajaCheckbox').prop('checked', false);
                }
                UpdatePermisos(RolId, 'Baja', Permiso_check);
            });




            $(document).on('click', '.ConsultaCheckbox', function () {
                if (AltaModificacion == 'True') {
                    var Permiso_id = $(this).parents('tr').attr('Id');
                    var Permiso_check = this.checked;
                    EditPermiso(Permiso_id, "Consulta", Permiso_check);
                }
            });

            $(document).on('click', '.AltaModificacionCheckbox', function () {
                if (AltaModificacion == 'True') {
                    var Permiso_id = $(this).parents('tr').attr('Id');
                    var Permiso_check = this.checked;
                    EditPermiso(Permiso_id, "AltaModificacion", Permiso_check);
                }
            });

            $(document).on('click', '.BajaCheckbox', function () {
                if (AltaModificacion == 'True') {
                    var Permiso_id = $(this).parents('tr').attr('Id');
                    var Permiso_check = this.checked;
                    EditPermiso(Permiso_id, "Baja", Permiso_check);
                }
            });

            function EditPermiso(Permiso_id, tipo, Permiso_check) {
                                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EditPermiso")',
                    data: JSON.stringify({
                        id: Permiso_id,
                        tipo: tipo,
                        permiso: Permiso_check
                    }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (dataResponse) {
                            if (dataResponse.responseCode == 0)
                                {
                                Lobibox.notify('success', {
                                    title: 'Exito',
                                    msg: 'Los cambios se han grabado correctamente.'
                                });
                            } else {
                                    Lobibox.notify('error', {
                                        title: 'Error',
                                        msg: 'Ah ocurrido un error, intente nuevamente.'
                                });
                            }
                        },
                        error: function (response) {
                                Lobibox.notify('error', {
                                    title: 'Error',
                                    msg: 'Ah ocurrido un error, intente nuevamente.'
                                });
                        }
                    });
            }


            function UpdatePermisos(Rol, tipo, Permiso_check) {
                                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdatePermisos")',
                    data: JSON.stringify({
                        idRol: Rol,
                        tipo: tipo,
                        permiso: Permiso_check
                    }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (dataResponse) {
                            if (dataResponse.responseCode == 0)
                                {
                                Lobibox.notify('success', {
                                    title: 'Exito',
                                    msg: 'Los cambios se han grabado correctamente.'
                                });
                            } else {
                                    Lobibox.notify('error', {
                                        title: 'Error',
                                        msg: 'Ah ocurrido un error, intente nuevamente.'
                                });
                            }
                        },
                        error: function (response) {
                                Lobibox.notify('error', {
                                    title: 'Error',
                                    msg: 'Ah ocurrido un error, intente nuevamente.'
                                });
                        }
                    });
            }

            if (!($('#selectRolCreate').val() == '' || $('#selectRolCreate').val()==null)) {


                var table = $('#dataTables-example').DataTable({
                    "ajax":
                    {
                        url: "@Url.Action("GetPermisos", "Permissions", new { Rolid = "ParamRolId" })".replace("ParamRolId", $('#selectRolCreate').val()),
                        type: "post",
                        dataSrc: ""
                    },
                    "columns": [
                        { "data": "Id" },
                        { "data": "Window.Module.Descripcion" },
                        { "data": "Window.Descripcion" },
                        { "data": null, defaultContent: '' },
                        { "data": null, defaultContent: '' },
                        { "data": null, defaultContent: '' }

                    ],
                    "columnDefs": [
                        { "visible": false, "targets": 1 }
                    ],
                    "ordering": false,
                    rowId: 'Id',
                    "displayLength": 25,
                    "fnCreatedRow": function (nRow, aData, iDataIndex) {
                        if (aData.Consulta) {
                            $('td:eq(2)', nRow).append("<input class='ConsultaCheckbox' name='consulta' type='checkbox' checked>");
                        }
                        else {
                            $('td:eq(2)', nRow).append("<input class='ConsultaCheckbox' name='consulta' type='checkbox'>");
                        }

                        if (aData.AltaModificacion) {
                            $('td:eq(3)', nRow).append("<input class='AltaModificacionCheckbox' name='AltaModificacion' type='checkbox' checked>");
                        }
                        else {
                            $('td:eq(3)', nRow).append("<input class='AltaModificacionCheckbox' name='AltaModificacion' type='checkbox'>");
                        }
                        if (aData.Baja) {
                            $('td:eq(4)', nRow).append("<input class='AltaModificacionCheckbox' name='Baja' type='checkbox' checked>");
                        }
                        else {
                            $('td:eq(4)', nRow).append("<input class='BajaCheckbox'  name='Baja' type='checkbox'>");
                        }

                    },
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({ page: 'current' }).nodes();
                        var last = null;

                        api.column(1, { page: 'current' }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before(
                                    '<tr class="group"><td colspan="5" style="color: gray; font-weight: bold;">' + group + '</td></tr>'
                                );

                                last = group;
                            }
                        });
                    }
                });
            }

        });




    </script>

}