@model IEnumerable<GestionDeTurnos.Models.TypesLicense>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tipos de Licencias</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @if (ViewBag.AltaModificacion)
                    {
                        <button type="button" id="btnNuevo" class="btn btn-primary" data-toggle="modal" data-target="#nuevoModal">
                            Nuevo
                        </button>
                        <button type="button" id="btnEditar" class="btn btn-primary" data-toggle="modal" data-target="#editarModal">
                            Editar
                        </button>
                    }
                    @if (ViewBag.Baja)
                    {
                        <button type="button" id="btnBorrar" class="btn btn-primary" data-toggle="modal" data-target="#borrarModal">
                            Borrar
                        </button>
                    }
                </div>
                <!-- /.panel-heading -->


                <div class="panel-body">

                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-Index">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Descripción</th>
                                <th>Abreviación</th>
                            </tr>
                        </thead>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /#row -->
</div>
<!-- /#page-wrapper -->
<!-- Progress Loader -->
<div id="div-loader" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8; display: none">
    <p style="position: absolute; color: White; top: 35%; left: 45%;">
        <img src=@Url.Content("~/Images/loading.gif") alt="Loading...">
    </p>
</div>


<!-- Modal -->

<div class="modal fade" id="nuevoModal" role="dialog">
    <div class="modal-dialog">
        <form id="form-create" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nuevo Tipo de Licencia</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Descripción</label>
                            <input id="input-Descripcion" name="inputDescripcion" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label>Abreviación</label>
                            <input id="input-Abreviacion" name="inputAbreviacion" class="form-control" autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="editarModal" role="dialog">
    <div class="modal-dialog">
        <form id="form-edit" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nuevo Tipo de Licencia</h4>
                </div>
                <div class="modal-body">
                    <form role="form">

                        <div class="form-group">
                            <label>Id</label>
                            <input id="input-Id" name="inputId" class="form-control" disabled>
                        </div>


                        <div class="form-group">
                            <label>Descripción</label>
                            <input id="input-Descripcion" name="inputDescripcion" class="form-control" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <label>Perfil</label>
                            <input id="input-Abreviacion" name="inputAbreviacion" class="form-control" autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts {


    <script>

    $(document).ready(function () {


        habilitaBotones(false);


        $('#dataTables-Index').DataTable({
              "ajax":
                  {
                      url: "@Url.Action("GetTipos", "TypesLicenses")",
                      type: "post",
                      dataSrc: ""
                  },
           "columns": [
               { "data": "Id" },
               { "data": "Descripcion" },
               { "data": "Codigo" }
           ],
           responsive: true
       });

        $('#dataTables-Index tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                habilitaBotones(false);
            }
            else {
                $('#dataTables-Index').DataTable().$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                habilitaBotones(true);

            }
        });

    });




    $('#btnBorrar').click(function () {


        Lobibox.confirm({
            title: 'Atención',
            msg: "¿Esta seguro que desea eliminar el Tipo de Licencia?",
            callback: function ($this, type, ev) {
                if (type === 'yes') {
                    Delete();
                };
            }

        });
    });


    function Delete()
    {
        $("#div-loader").show();

            //var id = $("#dataTables-Index").dataTable().$("tr.selected").attr('id');
            var id =$('#dataTables-Index').find('tr.selected>td').first().text();
            $.ajax({
                    url: '@Url.Action("DeleteTipo", "TypesLicenses")',
                    type: 'POST',
                    data: JSON.stringify({
                        "id": id
                    }),
                    contentType: 'application/json; charset=utf-8;',
                    success: function (result) {
                        $("#dataTables-Index").dataTable().fnReloadAjax();
                        $("#div-loader").hide();
                        Lobibox.notify('success', {
                            title: 'Exito',
                            msg: 'Los cambios se han grabado correctamente.'
                        });
                        habilitaBotones(false);
                    },
                    error: function (response) {
                        $("#div-loader").hide();
                            Lobibox.notify('error', {
                                title: 'Error',
                                msg: 'Ah ocurrido un error, intente nuevamente.'
                            });
                    }
                });
    }

    $("#form-create").validate({
        rules: {
            inputPerfil: { required: true, minlength: 2, maxlength: 64 },
            inputAbreviacion: { required: true, minlength: 1, maxlength: 64 }
        },
        messages: {
            inputAbreviacion: {
                required: "Este campo es requerido.",
                minlength: "Introduzca al menos 2 caracteres.",
                maxlength: "La longitud máxima permtida es de 64 caracteres."
            },
            inputDescripcion: {
                required: "Este campo es requerido.",
                minlength: "Introduzca al menos 2 caracteres.",
                maxlength: "La longitud máxima permtida es de 64 caracteres."
            }
        },
        submitHandler: function (form) {
            $("#div-loader").show();
            var object = new Object();
            object.Codigo = $("#input-Abreviacion").val();
            object.Descripcion = $("#input-Descripcion").val();
            var data = JSON.stringify(object);


            //Antes de editar, verifico que no este duplicando el Rol
            var isDuplicate = getDuplicates(0, object.Descripcion);

            if (isDuplicate) {
                $("#div-loader").hide();
                Lobibox.notify('warning', {
                    title: 'Cuidado',
                    msg: 'El tipo de licencia ya existe, debe asignar otro nombre.'
                });

                return;
            }


            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateTipo")',
                    data: data,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (dataResponse) {
                        $("#dataTables-Index").dataTable().fnReloadAjax();//Recargo la grilla
                        $('#nuevoModal').modal('hide');
                        $("#div-loader").hide();
                        if (dataResponse.responseCode == 0)
                            {
                            $("#div-loader").hide();
                            Lobibox.notify('success', {
                                title: 'Exito',
                                msg: 'Los cambios se han grabado correctamente.'
                            });
                        } else {
                                Lobibox.notify('error', {
                                    title: 'Error',
                                    msg: 'Ah ocurrido un error, intente nuevamente.'
                            });
                        }
                    },
                    error: function (response) {
                        $("#div-loader").hide();
                            Lobibox.notify('error', {
                                title: 'Error',
                                msg: 'Ah ocurrido un error, intente nuevamente.'
                            });
                    }
                });
            },
            errorElement: "p"
    });


    $("#form-edit").validate({
        rules: {
            inputAbreviacion: { required: true, minlength: 1, maxlength: 64 },
            inputDescripcion: { required: true, minlength: 2, maxlength: 64 }
        },
        messages: {
            inputAbreviacion: {
                required: "Este campo es requerido.",
                minlength: "Introduzca al menos 2 caracteres.",
                maxlength: "La longitud máxima permtida es de 64 caracteres."
            },
            inputDescripcion: {
                required: "Este campo es requerido.",
                minlength: "Introduzca al menos 2 caracteres.",
                maxlength: "La longitud máxima permtida es de 64 caracteres."
            }
        },
        submitHandler: function (form) {
            $("#div-loader").show();

            var object = new Object();
            object.Id = $('#editarModal').find('input#input-Id').val();
            object.Codigo = $('#editarModal').find('input#input-Abreviacion').val();
            object.Descripcion = $('#editarModal').find('input#input-Descripcion').val();
            var data = JSON.stringify(object);

            //Antes de editar, verifico que no este duplicando el Rol
            var isDuplicate = getDuplicates(object.Id, object.Descripcion);

            if (isDuplicate)
            {
                $("#div-loader").hide();
                Lobibox.notify('warning', {
                    title: 'Cuidado',
                    msg: 'El rol ya existe, debe asignar otro nombre.'
                });

                return;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditTipo")',
                    data: data,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (dataResponse) {
                        $("#dataTables-Index").dataTable().fnReloadAjax();//Recargo la grilla
                        $('#editarModal').modal('hide');
                        $("#div-loader").hide();
                        if (dataResponse.responseCode == 0)
                            {
                            $("#div-loader").hide();
                            Lobibox.notify('success', {
                                title: 'Exito',
                                msg: 'Los cambios se han grabado correctamente.'
                            });
                        } else {
                                Lobibox.notify('error', {
                                    title: 'Error',
                                    msg: 'Ah ocurrido un error, intente nuevamente.'
                            });
                        }
                        habilitaBotones(false);
                    },
                    error: function (response) {
                        $("#div-loader").hide();
                            Lobibox.notify('error', {
                                title: 'Error',
                                msg: 'Ah ocurrido un error, intente nuevamente.'
                            });
                    }
                });
            },
            errorElement: "p"
    });


    //Completo el modal edit con los datos de la grilla
    $('#editarModal').on('shown.bs.modal', function (e) {
        var idTipo = $('#dataTables-Index').find('tr.selected>td').first().text();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetTipo", "TypesLicenses")',
            data: {
                id: idTipo
            },
            cache: false,
            success: function (result) {
                $('#editarModal').find('input#input-Id').val(result.Id);
                $('#editarModal').find('input#input-Abreviacion').val(result.Codigo);
                $('#editarModal').find('input#input-Descripcion').val(result.Descripcion);
            },
            error: function (response) {
                    Lobibox.notify('error', {
                        title: 'Error',
                        msg: 'Ah ocurrido un error, intente nuevamente.'
                });
                    $('#editarModal').modal('hide');
            }
        });


    });


    //Reinicio los modal
    $('.modal').on('hidden.bs.modal', function (e) {
        $(".modal-body input").val(""),
            $(this).removeData('bs.modal');
        $("form").validate().resetForm();
    });

    function getDuplicates(pid,pParam)
    {
        var isDuplicate = false;
            $.ajax({
                type: 'GET',
                async: false ,
            url: '@Url.Action("GetDuplicates", "TypesLicenses")',
            data: {
                id: pid,
                tipo: pParam
            },
            cache: false,
            success: function (result) {
                if (result.responseCode > 0)
                    isDuplicate= true;
                else
                    isDuplicate= false;
            }
        });

            return isDuplicate;
    }

    function habilitaBotones(boHabilita) {
        if (boHabilita) {
            $('#btnEditar').removeAttr("disabled");
            $('#btnBorrar').removeAttr("disabled");
        }
        else {
            $('#btnEditar').attr("disabled", true);
            $('#btnBorrar').attr("disabled", true);
        }

    }

    </script>
}