@model GestionDeTurnos.Models.Turn

@{
    /**/

    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-sm {
        font-size: 12px;
        height: 30px;
        margin-bottom: 3px;
    }


    .ck-sm {
        font-size: 12px;
    }

    .select2 {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }


    .sol-container {
        padding: 0px;
    }

    .red {
        color: #a94442;
    }
</style>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="page-wrapper">
        <div class="row">
            <h3 class="page-header" style="margin: 10px;">Turno: @Model.Turno</h3>

            <form id="form-create" role="form" class="form-horizontal">
                <div class="col-lg-12">
                    <!-- /.Panel de Datos de Alta -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Datos del Turno
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label>Nro. Truno</label><span class="red"> * </span>
                                    <input class="form-control input-sm" id="input-Turno" value="@Model.Turno" type="text" disabled>

                                </div>
                                <div class="col-sm-3">
                                    <label>Tipo de Turno</label><span class="red"> * </span>
                                    @Html.DropDownListFor(model => model.TypesLicenseID, new SelectList(ViewBag.listaTiposLicencia, "Id", "Descripcion"), "Seleccione...", new { @class = "form-control input-sm", id = "ddlTipoLicencia" })
                                    @Html.ValidationMessageFor(model => model.TypesLicense, "", new { @class = "text-danger" })
                                </div>
                                @*<div class="form-group">*@
                                <div class="col-sm-3">
                                    <label>Fecha/Hora de Turno</label>
                                    @Html.EditorFor(model => model.FechaTurno, new { htmlAttributes = new { @class = "form-control input-sm", id = "dt-FechaTurno", @type = "datetime" } })
                                    @Html.ValidationMessageFor(model => model.FechaTurno, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-sm-3">
                                    <label>Fecha/Hora de Ingreso</label>
                                    @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @class = "form-control input-sm", id = "dt-FechaIngreso", @type = "datetime" } })
                                    @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-sm-3">
                                    <label>Fecha/Hora de Salida</label>
                                    @Html.EditorFor(model => model.FechaSalida, new { htmlAttributes = new { @class = "form-control input-sm", id = "dt-FechaSalida", @type = "datetime" } })
                                    @Html.ValidationMessageFor(model => model.FechaSalida, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-sm-3">
                                    <label>Tiempo de Atención</label>
                                    <input class="form-control input-sm" id="input-Tiempo" value="@Model.Tiempo" type="text" disabled>
                                </div>
                                @*</div>*@
                            </div>
                        </div>
                        <!-- /. FIN Panel de Datos de Alta -->
                        <!-- /. Panel de Datos de la Persona -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Datos Personales
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label>DNI</label>
                                        <input class="form-control input-sm" id="input-DNI" value="@Model.Person.Dni" type="text" disabled>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Apellido</label>
                                        <input class="form-control input-sm" id="input-Apellido" value="@Model.Person.Apellido" type="text" disabled>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Nombre</label>
                                        <input class="form-control input-sm" id="input-Nombre" value="@Model.Person.Nombre" type="text" disabled>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Tel.Particular</label>
                                        <input class="form-control input-sm" id="input-TelParticular" value="@Model.Person.Tel_Particular" type="text" disabled>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Tel.Celular</label>
                                        <input class="form-control input-sm" id="input-TelCelular" value="@Model.Person.Tel_Celular" type="text" disabled>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Barrio</label>
                                        <input class="form-control input-sm" id="input-Barrio" value="@Model.Person.Barrio" type="text" disabled>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Vencimiento Licencia</label>
                                        @Html.EditorFor(model => model.Person.Vencimiento_licencia, new { htmlAttributes = new { @class = "form-control input-sm", id = "dt-Vencimiento_licencia", @type = "datetime" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    @Html.Partial("_TableTrackings");

                </div>
                <!-- /.col-lg-12 -->

            </form>

            <!-- /.form -->
        </div>

        <!-- /.ro -->
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.datetimepicker.full.min.js")
    <script>

        $('#dt-FechaIngreso').attr("readonly", "readonly")
        $('#dt-FechaSalida').attr("readonly", "readonly");
        $('#dt-Vencimiento_licencia').attr("readonly", "readonly");
        $('#ddlTipoLicencia').attr("readonly", "readonly");
        $('#dt-FechaTurno').attr("readonly", "readonly");

    </script>

    <script>

    $(document).ready(function () {

        var Editar = '@ViewBag.Editar';
        var Baja = '@ViewBag.Baja';
        var Ver = '@ViewBag.Ver';
        var TurnId = '@ViewBag.TurnId';
        var Action;
        Action = "@Url.Action("GetTrackingSearch", "Turns",new { id = "_Switch" })".replace("_Switch", TurnId);

            var table = $('#dataTables-Index').DataTable({
                "ajax":
                {
                    url: "_Action".replace("_Action",Action),
                    type: "post",
                    dataSrc: ""
                },
                "columns": [
                    { "data": "id", defaultContent: '', className: 'px100' },
                    { "data": "Sector", className: 'px200' },
                    { "data": "Terminal", className: 'px200' },
                    { "data": "Status", className: 'px200' },
                    { "data": "Usuario", className: 'px200' },
                    { "data": "FechaIngreso", className: 'px200' },
                    { "data": "FechaSalida", className: 'px200' },
                    { "data": "Tiempo", className: 'px200' },
                    { "data": "CantidadDeLlamados", className: 'px200' }
                ],
                rowId: 'Id',
                responsive: true,
                ordering: true,
                searching: false,
                //"order": [[3, "desc"]],
                scrollX: true,
                //"autoWidth": true,
                "fnCreatedRow": function (nRow, aData, iDataIndex) {
                    //Agrego las
                    // Add a class to the cell in the first column
                    $(nRow).children(':nth-child(1)').addClass('td-btn');

                    //Agrego el boton

                    if (Ver == 'True') {
                        //Ver
                        $('td:eq(0)', nRow).append("<span class='fa fa-eye span-btn' type='button' value='C' data-toggle='tooltip' data-placement='top' title='Ver' id='btn_Ver'/> ");
                    }

                    if (Editar == 'True') {
                        //Modificar
                        $('td:eq(0)', nRow).append("<span class='fa fa-pencil span-btn' type='button' value='E' data-toggle='tooltip' data-placement='top' title='Modificar' id='btn_Editar' />");
                    }



                    if (Baja == 'True') {
                        //Borrar

                        $('td:eq(0)', nRow).append("<span data-toggle='modal' data-target='#eliminar-modal'><span class='fa fa-trash span-btn-dtl' type='button' value='D' data-toggle='tooltip' data-placement='top' title='Eliminar' id='btn_Eliminar' /></span>");
                    }
                }

            });


    });

    $(document).on('click', '#btn_Editar', function () {
        var id = $(this).closest('tr').attr('id')
        var baseUrl = "@Url.Action("Edit", "Trackings", new { id="ID"})";
        window.location.href = baseUrl.replace("ID",id);
    });

    $(document).on('click', '#btn_Ver', function () {
        var id = $(this).closest('tr').attr('id')
        var baseUrl = "@Url.Action("Details", "Trackings", new { id="ID"})";
        window.location.href = baseUrl.replace("ID",id);
    });

    $(document).on('click', '#btn_Eliminar', function () {
        Delete(this);
    });


        $('#ddlTipoLicencia')
            .on('focus', function () {
                $(this).data("prev", $(this).val());
            })
            .change(function () {
                if (confirm('Tenga en cuenta de que si cambia de tipo de turno, el mismo volvera al principio del tramite. ¿Esta seguro??')) {
                    //normal case where the dropdown changes
                    $(this).data("prev", $(this).val());
                } else {
                    //if the user doesn't confirm reset the dropdown back to what it was
                    $(this).val($(this).data("prev"));
                }
            });

        function Delete(a) {
            var id = $(a).closest('tr').attr('id')

            Lobibox.confirm({
                title: 'Atención',
                msg: "¿Esta seguro que desea eliminar el Estadio?",
                callback: function ($this, type, ev) {
                    if (type === 'yes') {
                    $.ajax({
                    url: '@Url.Action("DeleteTracking", "Trackings")',
                    type: 'POST',
                    data: JSON.stringify({
                        "id": id
                    }),
                    contentType: 'application/json; charset=utf-8;',
                    success: function (result) {
                        $("#dataTables-Index").dataTable().fnReloadAjax();//Recargo la grilla
                        $("#div-loader").hide();
                        Lobibox.notify('success', {
                            title: 'Exito',
                            msg: 'Los cambios se han grabado correctamente.'
                        });
                    },
                    error: function (response) {
                        $("#div-loader").hide();
                            Lobibox.notify('error', {
                                title: 'Error',
                                msg: 'Ah ocurrido un error, intente nuevamente.'});
                        }
                     });
                    };
}

            });
        }



    </script>

}



