@model GestionDeTurnos.Models.Turn

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Turn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypesLicense.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypesLicense.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
