@model IEnumerable<GestionDeTurnos.Models.Turn>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style type="text/css">
    .middle {
        padding-top: 30px;
        background-color: #d6ea5c;
        padding-bottom: 100px;
        text-align: -webkit-center;
        border-color: bisque;
        border-width: thin;
        border-style: groove;
    }

        .middle label {
            font-size: 30px;
        }

    .btn-primary.raised {
        box-shadow: 0 3px 0 0 #007299;
        width: 203px;
    }

    .btn-danger.raised {
        box-shadow: 0 3px 0 0 #d43f3a;
        width: 203px;
    }

    .btn-success.raised {
        box-shadow: 0 3px 0 0 #4cae4c;
        width: 203px;
    }

    .btn-primary.raised:active, .btn-primary.raised.active {
        background: #33a6cc;
        box-shadow: none;
        margin-bottom: -3px;
        margin-top: 3px;
    }

    .btn-danger.raised:active, .btn-danger.raised.active {
        background: #33a6cc;
        box-shadow: none;
        margin-bottom: -3px;
        margin-top: 3px;
    }

    .btn-success.raised:active, .btn-success.raised.active {
        background: #33a6cc;
        box-shadow: none;
        margin-bottom: -3px;
        margin-top: 3px;
    }



</style>



<body>



    <div id="page-wrapper">

        <!-- /.row -->


        <div class="row">

            <div class="col-lg-2 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="glyphicon glyphicon-calendar fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.TurnosProgramados</div>
                                <div>Turnos Programados!</div>
                            </div>
                        </div>
                    </div>
                    <a id="btnTurnosProgramados" href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="glyphicon glyphicon-time fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.MinPromedioAtencion</div>
                                <div>Min/Prom Atención!</div>
                            </div>
                        </div>
                    </div>
                    <a id="btnTiempoPromedio" href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="glyphicon glyphicon-exclamation-sign fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.MinPromedioDemora</div>
                                <div>Min/Prom Demora!</div>
                            </div>
                        </div>
                    </div>
                    <a id="btnTiempoDemora" href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="glyphicon glyphicon-stop fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.TurnosPendientes</div>
                                <div>Turnos Pendientes!</div>
                            </div>
                        </div>
                    </div>
                    <a id="btnTurnosPendientes" href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="glyphicon glyphicon-play fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.TurnosEnProceso</div>
                                <div>Turnos En Proceso!</div>
                            </div>
                        </div>
                    </div>
                    <a id="btnTurnosEnProceso" href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-smile-o fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.TurnosCompletados</div>
                                <div>Turnos Completados!</div>
                            </div>
                        </div>
                    </div>
                    <a id="btnTurnosFinalizados" href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /#row -->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-Index">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Turno</th>
                                <th>Inicio</th>
                                <th>Salida</th>
                                <th>Tipo Turno</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Estado</th>                              
                                <th>Act.</th>
                                <th>Prox.</th>
                            </tr>
                        </thead>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- /#page-wrapper -->
</body>

@section scripts {
    <script>

        $(document).ready(function () {

            $('#dataTables-Index').DataTable({
                "ajax":
                {
                    url: "@Url.Action("GetTurns", "Turns")",
                    type: "post",
                    dataSrc: ""
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "Turno" },
                    { "data": "Ingreso" },
                    { "data": "Salida" },
                    { "data": "Tipo" },
                    { "data": "Nombre" },
                    { "data": "Apellido" },
                    { "data": "Estado" },
                    { "data": "SectorActual" },
                    { "data": "SectorProximo" }
                ],
                responsive: true
            });
        });



        $(function () {
            $('.dropdown-menu a').click(function () {
                console.log($(this).attr('data-value'));
                $(this).closest('.dropdown').find('input.countrycode')
                    .val('(' + $(this).attr('data-value') + ')');
            });
        });

        function bs_input_file() {
            $(".input-file").before(
                function () {
                    if (!$(this).prev().hasClass('input-ghost')) {
                        var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name", $(this).attr("name"));
                        element.change(function () {
                            element.next(element).find('input').val((element.val()).split('\\').pop());
                        });
                        $(this).find("button.btn-choose").click(function () {
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function () {
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor", "pointer");
                        $(this).find('input').mousedown(function () {
                            $(this).parents('.input-file').prev().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }
        $(function () {
            bs_input_file();
        });


        $(function () {
            // initialize sol
            $('#my-select').searchableOptionList();
            $('#my-select2').searchableOptionList();
        });

        
        $('#btnTurnosProgramados').click(function () {
            $('.panel-body').empty();
            var table = "<table width='100%' class='table table-striped table-bordered table-hover' id='dataTables-Index'><thead><tr><th>ID</th><th>Turno</th><th>Horario</th><th>Tipo</th><th>DNI</th><th>Apellido</th><th>Nombre</th></tr></thead></table>";
            $('.panel-body').append(table);

            $('#dataTables-Index').DataTable({
                "ajax":
                {
                    url: "@Url.Action("GetTurnsProgramados", "Turns")",
                    type: "post",
                    dataSrc: ""
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "Turno" },
                    { "data": "Horario" },
                    { "data": "Tipo" },
                    { "data": "Dni" },
                    { "data": "Apellido" },
                    { "data": "Nombre" }
                ],
                responsive: true
            });

        }); 


        $('#btnTiempoPromedio').click(function () {
            $('.panel-body').empty();
            var table = "<table width='100%' class='table table-striped table-bordered table-hover' id='dataTables-Index'><thead><tr><th>ID</th><th>Turno</th><th>Inicio</th><th>Salida</th><th>Sector</th><th>Usuario</th><th>Tiempo</th></tr></thead></table>";
            $('.panel-body').append(table);

            $('#dataTables-Index').DataTable({
                "ajax":
                {
                    url: "@Url.Action("GetTurnsPromedio", "Turns")",
                    type: "post",
                    dataSrc: ""
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "Turno" },
                    { "data": "Ingreso" },
                    { "data": "Salida" },
                    { "data": "Sector" },
                    { "data": "Usuario" },
                    { "data": "Tiempo" }
                ],
                responsive: true
            });

        }); 

        $('#btnTurnosPendientes').click(function () {
            $('.panel-body').empty();
            var table = "<table width='100%' class='table table-striped table-bordered table-hover' id='dataTables-Index'><thead><tr><th>ID</th><th>Turno</th><th>Inicio</th><th>Sector</th><th>Demora</th></tr></thead></table>"
            $('.panel-body').append(table);
            $('#dataTables-Index').DataTable({
                "ajax":
                {
                    url: "@Url.Action("GetTurnsPendientes", "Turns")",
                    type: "post",
                    dataSrc: ""
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "Turno" },
                    { "data": "Ingreso" },
                    { "data": "Sector" },
                    { "data": "Demora" }
                ],
                responsive: true
            });


        }); 

        $('#btnTurnosEnProceso').click(function () {
            $('.panel-body').empty();
            var table = "<table width='100%' class='table table-striped table-bordered table-hover' id='dataTables-Index'><thead><tr><th>ID</th><th>Turno</th><th>Inicio</th><th>Sector</th><th>Tiempo</th><th>Usuario</th></tr></thead></table>"
            $('.panel-body').append(table);
            $('#dataTables-Index').DataTable({
                "ajax":
                {
                    url: "@Url.Action("GetTurnsEnProceso", "Turns")",
                    type: "post",
                    dataSrc: ""
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "Turno" },                    
                    { "data": "Ingreso" },
                    { "data": "Sector" },
                    { "data": "Usuario" },
                    { "data": "Tiempo" }
                ],
                responsive: true
            });


        }); 

        $('#btnTurnosFinalizados').click(function () {
            $('.panel-body').empty();
            var table = "<table width='100%' class='table table-striped table-bordered table-hover' id='dataTables-Index'><thead><tr><th>ID</th><th>Turno</th><th>Fecha</th><th>Inicio</th><th> Salida</th><th>Tiempo</th></tr></thead></table>"
            $('.panel-body').append(table);
            $('#dataTables-Index').DataTable({
                "ajax":
                {
                    url: "@Url.Action("GetTurnsFinzalizados", "Turns")",
                    type: "post",
                    dataSrc: ""
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "Turno" },
                    { "data": "FechaTurno" },                    
                    { "data": "Ingreso" },
                    { "data": "Finalizado" },
                    { "data": "Tiempo" },

                ],
                responsive: true
            });


        }); 

        $('#btnTiempoDemora').click(function () {
            $('.panel-body').empty();
            var table = "<table width='100%' class='table table-striped table-bordered table-hover' id='dataTables-Index'><thead><tr><th>ID</th><th>Turno</th><th>Desde</th><th>Sector</th><th>Tiempo</th></tr></thead></table>"
            $('.panel-body').append(table);
            $('#dataTables-Index').DataTable({
                "ajax":
                {
                    url: "@Url.Action("GetTurnsPromedioDemora", "Turns")",
                    type: "post",
                    dataSrc: ""
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "Turno" },
                    { "data": "Desde" },
                    { "data": "Sector" },
                    { "data": "Tiempo" }

                ],
                responsive: true
            });


        }); 


    </script>


}
